body
{
    background-color: #fff1d6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6;/*espaçamento entre linhas*/
    width: 1000px; /*MODIFICA A LARGURA DO ELEMENTO*/
    margin: 0 auto;/*CRIA OU MODIFICA A MARGEM DO ELEMENTO*/
}

main
{

    text-align: justify;/*ALINHAMENTO DE TEXTO JUSTIFICADO*/
    display: flex;/*DEIXARÁ OS FILHOS UM DO LADO DO OUTRO*/
}

article
{
    width: 800px;
}

section
{
    border-color: #CCC #999 #999 #CCC;
    border: 1px solid #CCC;/*cria bordas*/
    margin-bottom: 20px;
    padding: 10px;
    background-color: #FFF;
    
}

aside
{
    background-color: #FFFBE4;
    border: 1px solid #C9BC8F;
    padding: 10px;
    width: 480px;
    margin-left: 10px;
    height: 400px;
}
